pre {
  padding: 12px;
  background: #ccc;
  border-radius: 8px;
  overflow: auto;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 13px;
}
